# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Database
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

node_modules/
dist/
build/